@if (mensajeFallo) {
<div class="alert alert-danger alert-fixed">
  {{ mensajeFallo }}
</div>
}

<div class="container-fluid py-4 update-bg">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">

      <div class="card update-card p-4">
        <h3 class="fw-bold text-light mb-4">{{title}}</h3>

        <form [formGroup]="form" (ngSubmit)="sendJuego()" enctype="multipart/form-data">

          <div class="mb-3">
            <label class="form-label text-light fw-semibold">Título</label>
            <input
              type="text"
              class="form-control form-input"
              formControlName="titulo"
              placeholder="Título del juego"
            />
            @if (form.get('titulo')?.invalid && form.get('titulo')?.touched) {
            <small class="text-danger">El titulo es obligatorio.</small>
          }
          </div>

          <div class="mb-3">
            <label class="form-label text-light fw-semibold">Fecha de lanzamiento</label>
            <input
              type="date"
              class="form-control form-input"
              formControlName="fecha_lanzamiento"
            />
            @if (form.get('fecha_lanzamiento')?.invalid && form.get('fecha_lanzamiento')?.touched) {
            <small class="text-danger">La fecha de lanzamiento es obligatoria.</small>
          }
          </div>

          <div class="mb-3">
            <label class="form-label text-light fw-semibold">Precio (USD)</label>
            <input
              type="number"
              min="0"
              step="0.01"
              class="form-control form-input"
              formControlName="precio"
              placeholder="0.00"
            />
            @if (form.get('precio')?.invalid && form.get('precio')?.touched) {
            <small class="text-danger">El precio es obligatorio.</small>
          }
          </div>

          <div class="mb-3">
            <label class="form-label text-light fw-semibold">Descripción</label>
            <textarea
              rows="4"
              class="form-control form-input"
              formControlName="descripcion"
              placeholder="Descripción del juego"
            ></textarea>
            @if (form.get('descripcion')?.invalid && form.get('descripcion')?.touched) {
            <small class="text-danger">La descripcion es obligatoria.</small>
          }
          </div>

          <div class="mb-3">
            <label class="form-label text-light fw-semibold">Carga la imagen</label>
            <input
              type="file"
              class="form-control form-input"
              (change)="onFileSelected($event)"
            />
              @if(previewUrl){
                <div class="mt-3 text-center">
                    <img [src]="previewUrl" alt="Vista previa" class="img-fluid rounded shadow" style="max-height: 200px;">
                </div>
              }

          </div>

          <div class="mb-3">
            <label class="form-label text-light fw-semibold">Plataforma</label>
            <select
              class="form-select form-input select-custom"
              formControlName="plataforma_id"
            >
            @for (plataforma of plataformas; track plataforma.id) {
              <option [value]="plataforma.id">{{ plataforma.nombre }}</option>
            }

            </select>
            @if (form.get('plataforma_id')?.invalid && form.get('plataforma_id')?.touched) {
            <small class="text-danger">La plataforma es obligatoria.</small>
          }
          </div>

          <div class="mb-4">
            <label class="form-label text-light fw-semibold">Géneros</label>

            <div class="genero-flex">
              @for (genero of generos; track genero.id) {
                <label class="genero-item text-light">
                  <input
                    type="checkbox"
                    [value]="genero.id"
                    (change)="onGeneroChange($event)"
                    [checked]="form.value.generos.includes(genero.id)"
                  />
                  <span>{{ genero.nombre }}</span>
                </label>
              }
              @if (form.get('generos')?.invalid && form.get('generos')?.touched) {
            <small class="text-danger">Al menos un genero es obligatorio.</small>
          }
            </div>
          </div>

          <button [disabled]="form.invalid" class="btn btn-primary w-100 fw-semibold py-2">
            <i class="{{icono}} me-2"></i>
            {{title}}
          </button>

        </form>

      </div>

    </div>
  </div>
</div>
